nav{
    background-image: linear-gradient(to right, white , rgb(209, 222, 211));
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
}

.logo{
    width: 200px;
}

.navbar_link{
    margin-left: 50px;
}

.navbar_link--item{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin-left: 20px;
    font-weight: 500;
}

.navbar_link--item:hover{
    color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    .navbar_link{
        margin: 0 5px;
    }

    .navbar_link--item{
        margin-left: 10px;
    }
}