.blog-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

.blog-title{
    padding-bottom: 5px;
}

.blog-post{
    max-width: 1000px;
    padding: 10px 15px;
    cursor: pointer;
}

.blog-post p {
    line-height: 1.8rem;
}

@media (max-width: 900px) {
    .blog-section{
        margin-top: 100px;
    }
}

