.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.profile-info-one{
    display: flex;
    align-items: center;
}

.profile-info-name-address{
    margin-left: 10px;
}

.profile-info-two{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    background-color: rgb(230, 238, 232);
    padding: 15px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 320px;
}

.profile-info-two>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text{
    font-size: 1.4rem;
    font-weight: 600;
}

.text-light{
    color: rgb(102, 101, 101);
}

@media (max-width: 1050px) {
    .profile-info-one{
        flex-direction: column;
    }

    .profile-info-name-address{
        text-align: center;
    }
}

@media (max-width: 850px) {
    .profile-info-one{
        flex-direction: row;
    }

    .profile-info-name-address{
        text-align: center;
    }
}